<div class="storage-container">
    <div class="row">
        <h3>Storage Level</h3>
    </div>
    <form [formGroup]="levelForm" (ngSubmit)="save($event)">
        <div class="row">
            <label>Level</label>
            <input formControlName="level">
        </div>
        <div class="row">
            <label>Description</label>
            <textarea formControlName="description"></textarea>
        </div>
        <div class="row">
            <button type="submit">Save</button>
        </div>
    </form>
</div>