.item-layout,
.item-grid,
table {
  width: 100%;
}

.add-item {
  display: flex;
  justify-content: flex-end;
}

.item-layout {
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}
